<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/MainAdmin.html">
<div layout:fragment = "site_content">
    <div class="container">
        <div class="jumbotron mt-15">
            <form th:action="@{'/editDeleteUser/' + ${user.id}}" method="post">
                <h1 class="display-4" th:text="${user.fullname}"></h1>
                <p class="lead" th:text="'Email: ' + ${user.email}"></p>
                <p th:each="r : ${user.roles}">
                    <span th:text="${r.name} + ', '" style="margin-right: 4px"></span>
                </p>
                <hr class="my-4">
                <div class="row">
                    <a type="button" role="button" href="#" class="btn btn-secondary" style="background-color: dodgerblue" data-toggle="modal" data-target="#editModal">Edit</a>
                    <button type="submit" class="btn btn-secondary" name="btn_action" value="delete" style="background-color: red">Delete</button>
                </div>
                <!--                <a class="btn btn-info btn-lg" href="#" role="button" type="submit" data-toggle="modal" data-target="#editModal">Edit</a>-->
                <!--                <button type="submit" class="btn btn-secondary" name="btn_action" value="delete" style="background-color: red">Delete</button>-->
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel1">EDIT ITEM</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{'/editDeleteUser/' + ${user.id}}" method="post">
<!--                        <input type="hidden" name="btn_action" value="edit">-->
                        <div class="form-group">
                            <label for="formGroupExampleInput1">Full Name:</label>
                            <input type="text" class="form-control" name="user_full_name" id="formGroupExampleInput1" th:value="${user.fullname}" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="user_email">Email:</label>
                            <input type="text" class="form-control" name="user_email" id="user_email" th:value="${user.email}" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="user_password">Password:</label>
                            <input type="text" class="form-control" name="user_password" id="user_password" placeholder="Enter new password">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="btn_action" value="edit">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>